*{
  margin: 0;
  padding: 0;
}

Header{
  height: 57px;
  background-color: rgb(17, 2, 2);
  color: white;
}

nav{
  display: flex;
}

nav ul{
  display: flex;
  justify-content: flex-start;
  height: 57px;
  align-items: center;
}

nav ul li{
  list-style: none;
  padding: 0 23px;
  text-decoration: none;
  color: white;
}

nav ul li:hover{
  font-weight: bold;
  color: white;
}

.Last{
  display: flex;
  justify-content: center;
  text-align: center;
  height: 12vh;
  background-color:white;
  color: black;
}

.container{
  min-height: calc(100vh - 57px -12vh);
  height: 85vh;
  font-size: 35px;
margin-left: 51px;
  
}

.Second{
  display: flex;
margin-inline-start: 535px;
}

.Third{
  margin: -25px;
}
.First{
  margin: 257px;
  font-size: 30px;
  
}